$color-brand: #282828;
$color-a-dark-menu: #777;
$color-a-dark-menu-active: #9e8a78;
$color-facebook: #3b5998;
$color-twitter: #1dcaff;
$color-google: #db4a39;
$color-placeholder: #888;
$color-error: #b60000;
$color-success: #333;
$color-subscriber-placeholder: #ddd;
